.input-label {
  font-size: var(--form-label-font-size);
  color: var(--form-label-color);
  font-weight: var(--form-label-font-weight);
  line-height: var(--form-label-line-height);
  margin-bottom: var(--form-label-margin-bottom);

  span {
    color: var(--form-error-color);
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  cursor: text;

  width: 100%;
  border-radius: var(--form-border-radius);
  border: var(--form-border);
  padding-left: var(--form-padding-inline);
  padding-right: var(--form-padding-inline);
  transition: all 0.25s ease;
  background-color: var(--form-background-color);

  &.disabled,
  &.readonly {
    background-color: #f8f7f7;
    border: 1px solid #cfcece;
    cursor: not-allowed;
  }

  &:focus-within:not(.readonly):not(.disabled) {
    border: var(--form-focus-border);
    box-shadow: var(--form-focus-box-shadow);
  }

  .prefix {
    color: var(--form-placeholder-color);
    font-size: var(--form-placeholder-font-size);
    font-weight: var(--form-placeholder-font-weight);
    line-height: var(--form-placeholder-line-height);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &:has(*) {
      padding-right: 8px;
    }

    .icon {
      width: 20px;
      height: 20px;
      background-color: var(--form-color-icon);
    }
  }

  .sufix {
    color: var(--form-placeholder-color);
    font-size: var(--form-placeholder-font-size);
    font-weight: var(--form-placeholder-font-weight);
    line-height: var(--form-placeholder-line-height);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    cursor: pointer;

    &:has(*) {
      padding-left: 8px;
    }

    .icon {
      width: 24px;
      height: 24px;
      background-color: var(--form-color-icon);
    }
  }

  input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;

    font-size: var(--form-font-size);
    font-weight: var(--form-font-weight);
    line-height: var(--form-line-height);
    color: var(--form-color);

    outline: none;
    background-color: transparent;

    &::placeholder {
      color: var(--form-placeholder-color);
      font-size: var(--form-placeholder-font-size);
      font-weight: var(--form-placeholder-font-weight);
      line-height: var(--form-placeholder-line-height);
    }

    &:disabled,
    &[readonly] {
      cursor: not-allowed;
    }
  }

  &.small {
    height: var(--form-height-small);
  }

  &.medium {
    height: var(--form-height-medium);
  }

  &.large {
    height: var(--form-height-large);
  }
}

.error {
  margin-top: var(--form-error-margin-top);
  padding-left: var(--form-error-padding-left);
  font-size: var(--form-error-font-size);
  line-height: var(--form-error-line-height);
  font-weight: var(--form-error-font-weight);
  color: var(--form-error-color);
}
