<div class="input-label" *ngIf="label()">
  {{ label() }} <span *ngIf="isRequired">*</span>
</div>
<div
  class="input-wrapper"
  [ngClass]="[size()]"
  [class.disabled]="disabled()"
  [class.readonly]="readonly()"
  (click)="handleWrapperClick()"
>
  <div class="prefix">
    <ng-content select="[prefix]"></ng-content>
  </div>

  <input
    #inputElement
    [placeholder]="placeholder()"
    [value]="internalValue()"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    [disabled]="disabled()"
    [name]="name()"
    [type]="showPassword() ? 'text' : 'password'"
    [readonly]="readonly()"
    onwheel="this.blur()"
    (keydown)="keyPressed($event)"
    [attr.maxlength]="maxLength()"
  />
  <div class="sufix">
    <ng-content select="[sufix]"></ng-content>
  </div>

  <div class="sufix">
    <app-svg-icon
      path="assets/icons/visibility-{{ showPassword() ? 'on' : 'off' }}.svg"
      class="icon"
      (click)="togglePasswordVisibility()"
    ></app-svg-icon>
  </div>
</div>

@if(errorMessage) {
<div class="error">
  {{ errorMessage }}
</div>
}
